<div class="container">
    <h1>Ticket Output</h1>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#38A2FF">Output</h2>
        </div>
        <textarea class="form-control" rows="50">{{ticket | json}}</textarea>
    </div>
</div>
<div class="container">
    <h1>Map Output</h1>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#38A2FF">Output</h2>
        </div>
        <textarea class="form-control" rows="50">{{map | json}}</textarea>
    </div>
</div>
<div class="container">
    <h1>Text Editor Output</h1>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#38A2FF">Output</h2>
        </div>
        <textarea class="form-control" rows="50">{{text | json}}</textarea>
    </div>
</div>
<div class="container">
    <h1>Blog Output</h1>
    <div class="row">
        <div class="col-md-12">
            <h2 style="color:#38A2FF">Output</h2>
        </div>
        <textarea class="form-control" rows="50">{{blog | json}}</textarea>
    </div>
</div>
